[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
faker = "*"
geopy = "*"
html5lib = "*"
lxml = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
pytest = "*"
pyspark = "*"
scipy = "*"
xarray = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.10"
