[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
lxml = "*"
html5lib = "*"
beautifulsoup4 = "*"
pytest = "*"
xarray = "*"
scipy = "*"
pyspark = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.10"
